{{#if warning}}
    <section class="modal">
        <div class="modal__container">
            <img src="/images/modal-warning.png" class="modal__img">
            <h2 class="modal__title">¡Aviso!</h2>
            <p class="modal__paragraph">{{warning}}</p>
            <a href="" class="modal__close">Continuar</a>
        </div>
    </section>
{{else if success}}
    <section class="modal">
        <div class="modal__container">
            <img src="/images/modal-success.png" class="modal__img">
            <h2 class="modal__title">¡Genial!</h2>
            <p class="modal__paragraph">{{success}}</p>
            <a href="" class="modal__close">Continuar</a>
        </div>
    </section>
{{else if messages}}
    <section class="modal">
        <div class="modal__container">
            <img src="/images/modal-success.png" class="modal__img">
            <h2 class="modal__title">Accion no permitida</h2>
            <p class="modal__paragraph">{{success}}</p>
            <a href="" class="modal__close">Continuar</a>
        </div>
    </section>
{{/if}}

   