
<body>

  
  <section>

     <div class="product-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <div class="sidebar  has-scrollbar" data-mobile-menu>


          <div class="product-showcase">

            <h3 class="showcase-heading">Lo mas vendido</h3>

            <div class="showcase-wrapper">

              <div class="showcase-container">

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="/images/product-8.png" alt="baby fabric shoes" width="75" height="75"
                      class="showcase-img">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">Teclado Gamer MSI Vigor GK50</h4>
                    </a>

                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>$2,000.00</del>
                      <p class="price">$1,344.44</p>
                    </div>

                  </div>

                </div>

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="/images/product-3.png" alt="men's hoodies t-shirt" class="showcase-img"
                      width="75" height="75">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">Smartphone Xiaomi Redmi 10 6.5"</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>$3,800.00</del>
                      <p class="price">$3,376.44</p>
                    </div>

                  </div>

                </div>

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="/images/product-6.png" alt="girls t-shirt" class="showcase-img" width="75"
                      height="75">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">Monitor Curvo XZEAL LED 23.8" 75Hz</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>$2,500.00</del>
                      <p class="price">$2,156.44</p>
                    </div>

                  </div>

                </div>

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="/images/products/antiv.jpg" alt="woolen hat for men" class="showcase-img" width="75"
                      height="75">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">KASPERSKY PREMIUM, 3 DISPOSITIVOS, 1 AÑO</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>$1,200.00</del>
                      <p class="price">$799.24</p>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>
    <link rel="stylesheet" href="/css/style-products.css">
    <div class="container_prod flex_prod">
      <div class="left">
        <div class="main_image">
          <img class="img_prod" src="/images/product/p-i-1.jpg" id="ProductImg" class="slide" width="500" height="500">
        </div>
        <div class="option_prod flex_prod">
          <img class="img_prod small-img" src="/images/product/p-i-1.jpg"  width="500" height="500">
          <img class="img_prod small-img" src="/images/product/p-i-2.jpg" onclick="img('/images/products/p-i-2.jpg')" width="500" height="500">
          <img class="img_prod small-img" src="/images/product/p-i-3.jpg" onclick="img('/images/products/p-i-3.jpg')" width="500" height="500">
          <img class="img_prod small-img" src="/images/product/p-i-4.jpg" onclick="img('/images/products/p-i-4.jpg')" width="500" height="500">
          <img class="img_prod small-img" src="/images/product/p-i-5.jpg" onclick="img('/images/products/p-i-5.jpg')" width="500" height="500">
        </div>
      </div>
      <div class="right">
         {{#each productss}}
        <h3 class="h3_prod">{{this.nombre_pr}}</h3>
        <h4 class="h4_prod"> <small class="small_prod">$</small>{{this.price_pr}} <del>${{this.price_ant_pr}}</del> </h4>
        <p class="p_prod">{{this.description_pr}}</p>{{/each}}
        

        <a href="/agregar"><button id="agregarCarritoBtn" class="button_prod">Agregar al carrito</button></a>
      </div>
    </div>
  </section>
  <script>
    function img(anything) {
      document.querySelector('.slide').src = anything;
    }

    function change(change) {
      const line = document.querySelector('.home');
      line.style.background = change;
    }

    var ProductImg = document.getElementById("ProductImg");
var SmallImg = document.getElementsByClassName("small-img");

SmallImg[0].onclick = function(){
    ProductImg.src = SmallImg[0].src;
}

SmallImg[1].onclick = function(){
    ProductImg.src = SmallImg[1].src;
}

SmallImg[2].onclick = function(){
    ProductImg.src = SmallImg[2].src;
}

SmallImg[3].onclick = function(){
    ProductImg.src = SmallImg[3].src;
}

SmallImg[4].onclick = function(){
    ProductImg.src = SmallImg[4].src;
}

document.getElementById('agregarCarritoBtn').addEventListener('click', function() {
    var productData = {
      id_pro: "{{productss.[0].id_pr}}",
      nombre_pr: "{{productss.[0].nombre_pr}}",
      descrip_pr: "{{productss.[0].description_pr}}",
      price_pr: "{{productss.[0].price_pr}}"
    };

    fetch('/agregara', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(productData)
    })
    .then(response => {
      if (response.ok) {
        // Si la solicitud POST fue exitosa, redirigir al usuario a la página '/car-shop'
        window.location.href = "/car-shops";
      } else {
        throw new Error('Error al agregar producto');
      }
    })
    .catch(error => {
      // Manejar errores
      console.error(error);
    });
});


  </script>
    

    
</body>
 